# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
oci
python-dotenv
oracledb
bs4
requests
azure-storage-blob